{:deps    {com.hyperfiddle/electric {:mvn/version "v2-alpha-428-g22937f75"}}
 :aliases {:build {:extra-paths ["src-build"]
                   :ns-default  build
                   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                                 slipset/deps-deploy           {:mvn/version "0.2.1"}
                                 org.clj-commons/hickory       {:mvn/version "0.7.3"}}}
           :dev   {:extra-paths ["resources" "src-dev" "target/gen"]
                   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.10"}
                                 info.sunng/ring-jetty9-adapter
                                 {;:mvn/version "0.14.3" ; (Jetty 9) is Java 8 compatible;
                                  :mvn/version "0.17.7" ; (Jetty 10) is NOT Java 8 compatible
                                  :exclusions [org.slf4j/slf4j-api info.sunng/ring-jetty9-adapter-http3]} ; no need
                                 ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}}
                   :override-deps {com.hyperfiddle/electric {:local/root "vendors/electric"}}
                   :exec-fn     user/main
                   :exec-args   {}
                   :jvm-opts ["-Xss4m"]}}}
