{:deps    {com.hyperfiddle/electric {:mvn/version "v2-alpha-284-g0bc5f4bc"}}
 :aliases {:build {:extra-paths ["src-build"]
                   :ns-default  build
                   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                                 org.clj-commons/hickory       {:mvn/version "0.7.3"}}}}}
